<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-inverse">
	<router-link class="navbar-brand" to="/">
		<img alt="Brand" src="~assets/images/logo.png" height="20">
	</router-link>
	<ul class="navbar-nav">
		<router-link class="nav-item" tag="li" to="/" exact>
			<a class="nav-link">
				<i class="fa fa-home"></i> Home</a>
		</router-link>
		<router-link class="nav-item" tag="li" to="/department" exact>
			<a class="nav-link">
				<i class="fa fa-home"></i> Departments</a>
		</router-link>
		<router-link class="nav-item" tag="li" to="/course" exact>
			<a class="nav-link">
				<i class="fa fa-home"></i> Courses</a>
		</router-link>
		<router-link class="nav-item" tag="li" to="/login" v-if="!auth.isLoggedIn()" exact>
			<a class="nav-link">
				<i class="fa fa-connect"></i> Login</a>

		</router-link>
		<li class="nav-item"  v-if="auth.isLoggedIn()" v-on:click="logout()" exact>
			<a class="nav-link">
				<i class="fa fa-connect"></i> Logout</a>

		</li>
	</ul>
</nav>
