<div v-show="departments.length" class="mb-4">
	<h1 class="mb-4">
		<i class="fa fa-file-folder"></i> Departments
		<button class="btn btn-sm btn-primary" v-if="auth.isLoggedIn() && auth.isAdmin()" @click="newDepartment()">New</button>
	</h1>

	<div class="form-group">
		<input class="form-control" placeholder="Filter departments..." v-model="departmentsFilter">
	</div>

	<router-link v-if="filteredDepartments.length" class="list-group-item" v-for="(department, index) in filteredDepartments"
	 :key="index" :data-index="index" :to="{ name: 'department', params: { id: department._id }}">
		#{{ index+1 }} {{ department.name }} ( {{department.shortName}} )
		&nbsp;
		<b-btn v-on:click="openEditModal(department)" v-if="auth.isLoggedIn() && auth.isAdmin()" class="btn btn-sm btn-warning">Edit</b-btn>
		&nbsp;
		<span class="btn btn-sm btn-danger" v-if="auth.isLoggedIn() && auth.isAdmin()">Delete</span>

	</router-link>
	<b-modal ref="departmentEditModal" title="Edit Department">
		<div v-if="selectedDepartment != null">
			<div class="form-group">
				<label for="">Name</label>
				<input class="form-control" v-model="selectedDepartment.name">
			</div>
			<div class="form-group">
				<label for="">Short Name</label>
				<input class="form-control" v-model="selectedDepartment.shortName">
			</div>
		</div>
		<div slot="modal-footer" class="float-right">
			<b-btn size="sm" variant="success" @click="saveDepartment()">
				Save
			</b-btn>
			&nbsp;
			<b-btn size="sm" variant="primary" @click="closeEditModal()">
				Close
			</b-btn>
		</div>
	</b-modal>
</div>
