@import "styles/variables";

// npm depencies
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// Project specific
@import "styles/global";
@import "styles/animate";


body {
	background: url("~assets/images/bg.jpg") fixed no-repeat;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;
	.overlay {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(255,255,255, 0.8);
	}
}
