<div class="mb-4">
	<h1 class="mb-4">
		<i class="fa fa-file-folder"></i> Courses
		<button class="btn btn-sm btn-primary" v-if="auth.isAdmin()" @click="newCourse()">New</button>
	</h1>

	<div class="form-group">
		<input class="form-control" placeholder="Filter courses..." v-model="coursesFilter">
	</div>

	<router-link v-if="filteredCourses.length" class="list-group-item" v-for="(course, index) in filteredCourses"
	 :key="index" :data-index="index" :to="{ name: 'course' }">
		#{{ index+1 }} {{ course.name }} ( {{course.code}} )
		&nbsp;
		<b-btn v-on:click="openEditModal(course)" v-if="auth.isAdmin()" class="btn btn-sm btn-warning">Edit</b-btn>
		&nbsp;
		<span class="btn btn-sm btn-danger" v-if="auth.isAdmin()">Delete</span>
		<span class="btn btn-sm btn-danger" v-if="auth.isStudent() && !auth.isSignedUpFor(course.code)" v-on:click="signUp(course)">SignUp</span>

	</router-link>
	<b-modal ref="courseEditModal" title="Edit Course">
		<div v-if="selectedCourse != null">
			<div class="form-group">
				<label for="">Name</label>
				<input class="form-control" v-model="selectedCourse.name">
			</div>
			<div class="form-group">
				<label for="">Code</label>
				<input class="form-control" v-model="selectedCourse.code">
			</div>
		</div>
		<div slot="modal-footer" class="float-right">
			<b-btn size="sm" variant="success" @click="saveCourse()">
				Save
			</b-btn>
			&nbsp;
			<b-btn size="sm" variant="primary" @click="closeEditModal()">
				Close
			</b-btn>
		</div>
	</b-modal>
</div>
